/*底部双按钮*/
.wcpzzzfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7%;
    align-items: center;
    font-size: 15px;
}
.wcpzzzfoot .wcpzzzbtn-bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
}